BasedOnStyle: Google
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
#
AccessModifierOffset: -2
ColumnLimit: 120
SortIncludes: false
IndentPPDirectives: AfterHash
AllowShortEnumsOnASingleLine: false